header
  .container-fluid.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header.navbar-right
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href='/devices/') Devices
          li
            a(href='/slots/') Slots
          li
            a(href='/slotgroups/') Slot groups
          li
            a(href='/checklists/') Checklists
          if (locals.session && locals.session.userid && locals.session.roles && locals.session.roles.admin)
            li
              a(href='/admin/', target='_blank') Admin
        ul.nav.navbar-nav.navbar-right
          if (locals.session && locals.session.userid)
            li
              .user
                img.img-responsive(src='/users/' + session.userid + '/photo', title=session.username)
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown') #{session.username}
                b.caret
              ul.dropdown-menu
                li
                  a(href='/users/' + locals.session.userid, target='_blank') Profile
                li
                  a(href='/logout') Log out
          else
            li
              i.fa.fa-user.fa-3x
            li
              a(href='/login') Log in
