include helper-mixin
doctype html
html
  head
    include ./head.pug
    link(rel='stylesheet', href='/datatables/media/css/dataTables.bootstrap.min.css')
    block head
  body
    include ./header.pug
    .container-fluid
      .row
        .col-lg-9.col-md-9.col-sm-12.col-xs-12
          block content
        .col-lg-3.col-md-3.col-sm-12.col-xs-12
          h3 History
          #history
            block history
    include ./footer.pug
    script(type='text/javascript', src='/javascripts/active-nav.js')
    script(type='text/javascript', src='/moment/min/moment.min.js')
    script(type='text/javascript', src='/javascripts/template/change.js')
    script(type='text/javascript', src='/javascripts/history.js')
    block js


