doctype html
html
  head
    include ./head.jade
    block head
  body
    include ./header.jade
    block content
    include ./footer.jade
    script(type='text/javascript', src='/javascripts/active-nav.js')
    block js

