extends layout

block head
  link(rel='stylesheet', href='/datatables/media/css/dataTables.bootstrap.min.css')
  title RunCheck slots


block content
  .container-fluid
    br
    #message
      #modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              h3#modalLabel
            .modal-body
              .panel
              form.form-inline
                label Please select one slot group:
                select.form-control
            .modal-footer
    form.form-inline
      button.btn.btn-primary.group-edit#addGroup
        | Add to group
      | &nbsp
      button.btn.btn-primary.group-edit#removeGroup
        | Remove from group
    br
    #slots.tab-pane.active
      table#slot-table.table.table-bordered.table-hover


block js
  script(type='text/javascript', src='/datatables/media/js/jquery.dataTables.js')
  script(type='text/javascript', src='/datatables/media/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='/javascripts/table.js')
  script(type='text/javascript', src='/javascripts/slot-table.js')
  script(type='text/javascript', src='/javascripts/slot-action.js')