extends layout-history

block head
  link(rel='stylesheet', href='/datatables/media/css/dataTables.bootstrap.min.css')
  title RunCheck device


block content
  .container(style="margin-top: 10px")
    h2 this is slot group detail page.
