extends layout

block head
  link(rel='stylesheet', href='/datatables/media/css/dataTables.bootstrap.min.css')
  title RunCheck slots


block content
  .container-fluid
    br
    #slots.tab-pane.active
      table#slot-table.table.table-bordered.table-hover


block js
  script(type='text/javascript', src='/datatables/media/js/jquery.dataTables.js')
  script(type='text/javascript', src='/bootstrap/dist/js/bootstrap.js')
  script(type='text/javascript', src='/datatables/media/js/dataTables.bootstrap.js')
  script(type='text/javascript', src='/javascripts/table.js')
  script(type='text/javascript', src='/javascripts/slot-table.js')
