body {
  position: relative;
  padding-top: 50px;
}
.a-color {
  color: #0088cc;
}

.user-img{
  height: 50px;
}

/* styles for navbar-default */
.navbar-default{
  border-bottom: 1px solid rgb(194, 194, 194);
}

/* styles for table row selected*/
.table-hover tbody tr:hover.row-selected > td {
  background-color: #c09853;
  opacity: 0.75;
}

.table-hover tbody tr.row-selected > td {
  background-color: #c09853;
}