body {
  position: relative;
  padding-top: 50px;
}
.a-color {
  color: #0088cc;
}
.user img {
  height: 50px;
}

.user-img-small {
  height: 40px;
}

.user-img-smaller {
  height: 30px;
}

.user-img-smallest {
  height: 20px;
}

/* styles for navbar-default */
.navbar-default {
  border-bottom: 1px solid rgb(194, 194, 194);
}

/* styles for table row selected*/
.table-hover tbody tr:hover.row-selected > td {
  background-color: #c09853;
  opacity: 0.75;
}
.table-hover tbody tr.row-selected > td {
  background-color: #c09853;
}
.progress {
  position: relative;
  text-align: center;
}
.progress span {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
}

#side {
  max-height: 150vh;
  overflow-y: auto;
}

.modal-content {
  margin-top: 30%;
}

.like-btn {
  padding: 6px 12px;
}
